@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: 800;
}





*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

:root {
  color-scheme: light dark;

    isolation: isolate;

    --accent-color: light-dark(#489bc5,#b4801d);
    --card-color: light-dark( #fafafa,#242424);
    --bg-color: light-dark( #e0e0e0, #171717);
    --text-color: light-dark( #101010, #ececec);
    --link-color: light-dark( #1d82b4 ,#b4801d);
    --link-visited: light-dark( #661db4 ,#7c5816);
    --footer-border: light-dark( #5f5f5f ,#5f5f5f); 
    --header-color: light-dark( #e0e0e0b9 , #171717b9 );
    --hero-shadow-color: light-dark( rgba(0, 0, 0, 0.19) ,rgba(234, 36, 250, 0.19)); 

    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited);
}



#header {

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: .5rem;

    background: var(--header-color);
    backdrop-filter: blur(10px);


}


.wide-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    & .main-nav-item {
        color: var(--text-color); 
        font-weight: bold;
        font-size: larger;
        &:visited {
          color: var(--text-color); 

        }
    }
}


.small-nav {
    display: none;
    flex-direction: row;
    gap: 1rem;
}

@media(max-width:1023px) {
    .small-nav {
        display: flex;
    }
    .wide-nav {
        display: none;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}

.main-nav-item {
    text-decoration: none;
}

.light-dark {
    font-size: x-large;
}

.logo {
    max-width: 4rem;
    max-height: 4rem;
    padding: .5rem;
}

main {
    padding: 0 .5rem;
    & section {
        margin: 1rem 0;
    }

}

#hero {
    min-height: calc(100svh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero-actions {
    display: flex;
    flex-direction: column;
    gap: 2rem; 

}

@media(min-width:1023px) {
    #hero {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
}



.hero-cta {
    background-color: var(--accent-color);
    font-size: x-large;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--text-color);
    text-decoration: none;
    box-shadow: 0 0 12px 3px var(--hero-shadow-color);

    &:visited {
        color: var(--text-color);

    }

}

#features {
        max-width: 1024px;
    margin: auto;

}

ul {
    list-style-type: none;
    padding: 0; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

@media(min-width:1023px) {
    ul {
    flex-direction: row;
        
    }
}


.card {
    background: var(--card-color);
    padding: 1rem;
    border-radius: 1rem; 
    & span {
        font-weight: bold;
        padding-bottom: .25rem;
    }
    box-shadow: 0 0 12px 3px rgba(12, 12, 12, 0.19);
        min-width: min(600px, 100svw - 2rem);

}

.hr-scroller {
    display: flex; 
    direction: row;
    overflow-x: scroll;
    scroll-snap-type: both mandatory;
    scroll-snap-align: center;    
    overscroll-behavior-x: contain;
    width: 100svh;
    & * {
        max-width: 80svw;
    }
}

#downloads{
    display: flex;
    justify-content: center;
}


.temp-download-button {
    font-weight: bold;
    font-size: larger;
}

footer{
    border-top: 1px solid var(--footer-border);
    padding-block: 1rem;
    padding-inline: .5rem;
}